*{
    color: #fff;
}

body{
    background: #1d2630;
}

#Update{
    display: none;
}
select option{
    color: black;
}
.content-box2{
    justify-content: end;
    float: right;
}
span{
    color: red;
}